<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title | default: site.title | escape }}</title>
    {% if page.description %}
        <meta name="description" content="{{ page.description | escape }}">
    {% else %}
        <meta name="description" content="{{ site.description | escape }}">
    {% endif %}
    {% if page.keywords %}
        <meta name="keywords" content="{{ page.keywords | join: ', ' | escape }}">
    {% endif %}

    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

    </head>
<body>
    <header class="site-header">
        <div class="wrapper">
            <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | default: "ชื่อเว็บไซต์ของคุณ (ตั้งใน _config.yml)" | escape }}</a>

            <nav class="site-nav">
                <ul>
                    <li><a href="{{ '/' | relative_url }}">หน้าแรก (ตัวอย่าง)</a></li>
                    </ul>
            </nav>
        </div>
    </header>

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>

    <footer class="site-footer">
        <div class="wrapper">
            <p>&copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> 
               {{ site.author.name | default: "ผู้จัดทำเว็บไซต์ (ตั้งใน _config.yml)" | escape }}. 
               (ข้อความลิขสิทธิ์หรืออื่นๆ)
            </p>
        </div>
    </footer>

    </body>
</html>
